*{
    box-sizing: border-box;
}

header,
footer {
    background-image: repeating-linear-gradient(black, blue);
    background-position: center;
    text-align: center;
    color: white;
}

nav{
    text-align: right;
    font-size:large
    }  

nav a {
    padding:3rem;;
    color:white
}

main {
    background: rgb(54, 54, 223);
    display: flex;
}

aside{
    height: 50rem;
}

content {
    padding-top: 20rem;
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80rem;
}

h2 {
    text-decoration: underline;
}

.profile-pic {
    height: 300px;
    border-radius: 50%;
}

.projects {
    padding: 2rem;
}

p {
    font-size: x-large;
}

contact {
    display: flex;
}

footer {
padding: 10px;
background-image: repeating-linear-gradient(black, blue);
}

